*{
    margin:0;
    padding:0;
}
.app{
    width:100vw;
    height:100vh;
    background-color:#071952;
    display:flex;
    justify-content:center;
    align-items:center;
}
.quiz{
    width:500px;
    background-color:white;
    /* height:450px; */
    border-radius:4px;
    padding:30px;
    display:flex;
    flex-direction:column;
    align-items:center;
    

}
.line{
    border-bottom: 3px solid black;
    width:450px;
    margin:4px;
}

.btn{
    width:450px;
    height:40px;
    margin:10px;
    cursor:pointer;
    /* border:none; */
}
#answersButton{
    margin:20px;
    
}
#mainque{
    margin-top:20px;
    margin-bottom:10px;
}
.btn:hover{
    background-color:#071952;
    color:white;
    font-size:20px;
  
}
.btn2{
    width:450px;
    height:40px;
    margin:10px;
    
    /* border:none; */
}
#next{
    width:80px;
    height:40px;
    border-radius:4px;
    cursor:pointer;
    display:none;
    /* border:none; */
}
#next:hover{
    background-color:#071952;
    color:white;
    font-size:20px;
}
.correct{
    background-color:green;
    color:white;
}
.incorrect{
    background-color:red;
    color:white;
}

